body{
	background-color: aquamarine;
	text-align: center;
    min-width: 300px;
    padding-bottom: 10px;
 
}
form{
	background-color: white;
	margin-left: 40px;
}

.me{

	size: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}

#description{

	margin-left: 40px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}